@import "../../styles/responsive.scss";
.app {
  text-align: center;
  overflow-x: hidden;
  width: 100%;
  height: auto;
  margin: auto;
  background: var(--cl-secondary);
}

@include responsive(phone) {
  .grass {
    width: 0px;
  }
}
