@import "../../styles/responsive.scss";
@import "../../styles/variables/variables.scss";

.about {
  width: 100%;
  background: #f4e5d5;
  padding: 80px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;

}

.about_content {
  flex: 1;
  max-width: 850px;
}

.about_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 46px;
  line-height: 1.3;
  color: rgba(239, 163, 89, 1);
  margin: 0 0 40px 0;
  text-align: left;
  max-width: 1000px;
}

.about_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.6;
  color: rgba(45, 38, 38, 1);
  margin: 0 0 24px 0;
  text-align: left;
  max-width: 1400px;

  &:last-child {
    margin-bottom: 0;
  }
}

.about_image_wrapper {
  flex-shrink: 0;
  order: 2;
}

.about_image {
  width: 560px;
  height: 783px;
  object-fit: cover;
  z-index: 2;
}

@include responsive(tablet) {
  .about {
    padding: 60px 40px;
    gap: 30px;
  }
  
  .about_content {
    flex: 0.8;
  }

  .about_title {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .about_text {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .about_image {
    width: 300px;
    height: 420px;
  }
}

@include responsive(phone) {
  .about {
    flex-direction: column;
    padding: 40px 30px;
    gap: 30px;
    overflow: hidden
  }

  .about_content {
    width: 100%;

  }

  .about_title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .about_text {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .about_image_wrapper {
    width: 100vw; // ← Ширина на весь viewport
    margin-left: calc(-50vw + 50%); // ← Растягиваем на всю ширину экрана
    margin-right: calc(-50vw + 50%);
    margin-bottom: 30px;
  }

  .about_image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}