.primary {
  color: var(--cl-primary);
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: left;
}

.black {
  color: var(--cl-black);
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: left;
}
