$extra-large-screen: 1920px;
$large-screen: 1366px;
$medium-screen: 1024px;
$small-screen: 768px;

@mixin responsive($breakpoint) {
  @if $breakpoint == fullscreen {
    @media (max-width: $extra-large-screen) {
      @content;
    }
  }
  @else if $breakpoint == screen {
    @media (max-width: $large-screen) {
      @content;
    }
  }
  @else if $breakpoint == tablet {
    @media (max-width: $medium-screen) {
      @content;
    }
  }
  @else if $breakpoint == phone {
    @media (max-width: $small-screen) {
      @content;
    }
  }
}