@import "../../styles/responsive.scss";

.container {
  background-color: var(--cl-background-primary);
  margin: 0 auto;
}

//SECTION ONE

.intro {
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_title {
    width: 100%;
    max-width: 940px;
    color: var(--cl-secondary);
    font-family: Courgette;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding: 0;
    margin-top: 67px;
  }
  &_text {
    padding: 0;
    width: 100%;
    max-width: 940px;
    color: var(--cl-secondary);
    font-family: Courgette;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 65px;
  }
}

.span {
  padding: 0;
  color: var(--cl-secondary);
  text-align: center;
  font-family: "Playfair Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &_item {
    color: var(--cl-white);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 856px;
    width: 100%;
     font-family: "Playfair Display";
  }
}

//SECTION TWO

.aboutUs {
  background-color: var(--cl-black);
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 185px 10px 100px;
  box-sizing: border-box;

  &_block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
  }

  &_ul {
    width: 100%;
    max-width: 792px;
  }

  &_li {
    padding: 28px;
    border-bottom: 3px solid #736758;
    color: var(--cl-white);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
     font-family: "Playfair Display";
  }

  &_text {
    color: var(--cl-white);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
    width: 100%;
    max-width: 940px;
     font-family: "Playfair Display";
  }
}

//SECTION TREE

.service {
  background-image: url(../../images/homepage/lush3.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 67px 10px 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_span {
    padding: 0;
    color: var(--cl-black);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &_underSpan {
    padding: 0;
    color: var(--cl-black);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    max-width: 940px;
    margin-top: 25px;
  }

  &_ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
    margin-top: 50px;
  }

  &_li {
    max-width: 532px;
    width: 100%;
    padding: 45px 40px 45px;
    box-sizing: border-box;
    background-color: var(--cl-primary);
  }

  &_title {
    color: var(--cl-white);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
  }

  &_text {
    color: var(--cl-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.work {
  padding: 67px 10px 100px;
  box-sizing: border-box;
  background-color: var(--cl-black);

  &_title {
    color: var(--cl-white);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 80px;
  }
}

.contact {
   padding: 60px 10px 60px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
  &_span {
      padding: 0;
  color: var(--cl-secondary);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  max-width: 940px;
  }
}

@include responsive(fullscreen) {
}
@include responsive(screen) {
  .intro {
    &_title {
      font-size: 32px;
    }
    &_text {
      font-size: 32px;
    }
  }
  .span {
    font-size: 32px;
    &_item {
      font-size: 32px;
    }
  }
}
@include responsive(tablet) {
  .aboutUs {
    &_block {
      flex-direction: column;
    }

    &_li {
      font-size: 20px;
      margin-bottom: 25px;
    }

    &_text {
      font-size: 20px;
    }
  }
  .service {
    &_span {
      font-size: 32px;
    }
    &_underSpan {
      font-size: 20px;
    }
    &_ul {
      gap: 50px;
    }
    &_li {
      padding: 25px 20px;
    }
  }

  .work {
    &_title {
      font-size: 32px;
      margin-bottom: 40px;
    }
  }

  .contact {
    &_span {
      font-size: 32px;
    }
  }
}
@include responsive(phone) {
}
